.bg{
  height:657px;
  background-color: blue;
}
@media only screen and (max-width: 300px){
  .bg{
    height: max-content;
  }
}
.signin{
  background-color: aquamarine;
  height: max-content;
}
.btn{
  width: 70%;
}
.ebg{
  height: 657px;
  background-color: coral;
}
.pbg{
  height: 657px;
  background-color: deeppink;
}
:link{
  text-decoration: none;
  
}
.createbg{
  background-color: aqua;
  height: 655px;
}
.divbg{
 height: max-content;
}
.head{
  font-size: 5.5rem;
}
.logout-icon:hover{
   cursor: pointer;
}

